$card-colour: #0e8880;
$font-colour: #C5C6C7;
$background-colour: #1F2833;
$header-colour: #0B0C10;

html {
    font-size: 62.5%;
    font-size: 16px;

    @media (max-width: 1200px) {
        font-size: 82.5%; 
    }

    @media (max-width: 1000px) {
        font-size: 75.75%; 
    }

    @media (max-width: 800px) {
        font-size: 70%; 
    }

    @media (max-width: 700px) {
        font-size: 63.75%; 
    }

}

body {
    box-sizing: border-box;
    margin: 0px;
    color: $font-colour;
    font-size: 1.6rem;
    font-family: 'Press Start 2P', sans-serif;
}